body {
  width:90%;
  margin: 0 auto;
  background-color: #BEDB39;
  font-family: "Lora", georgia, serif;
  color: #004358;
}

/*#content {
  overflow: auto;
}*/

#dancing {
  position: fixed;
  height: 141px;
  width: 110px;
  left: 75%;
}
nav, footer, h2 {
  background-color: #1F8A70;
  text-align: center;
  padding: 0.5em;
  margin: 1%;
}

/*h1 {
  text-align: center;
  font-size: 4.5em;
}*/

li {
  display: inline;
  padding: 0.5em;
}

#donuts {
  height: 500px;
  width: 500px;
  left: 30%;
  position: absolute;
  z-index: -1;
}

#p1:first-letter {
  font-size: 200%;
}

table {
  border-style: solid;
  border-color: #1F8A70;
  text-align: center;
  position: relative;
  top: 1em;
  left: 5em;
  width: 80%;
}

th {
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
}

tr {
  background-color: #ffffff;
}

form {
  width: 40%;
  position: relative;
  margin: 5%;
}

legend {
  font-weight: bold;
  text-shadow: -1px -1px #111111;
  border-color: #004358;
  border-style: dotted;
  border-radius: 50px;
  padding: 10px;
}

input {
  background-color: #BEDB39;
  font-family: "Lora", georgia, serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  border-radius: 40px 80px;
}

#p2 {
  font-size: 1em;
  font-style: oblique;
  text-align: justify;
}

#friendly {
  height: 125px;
  width: 300px;
  padding-left: 25px;
  padding-right: 25px;
}

#header {
  font-size: 5em;
  letter-spacing: 10px;
  padding-top: 30px;
  text-align: center;
}

span {
  animation: 5s colours infinite linear;
}

span:nth-child(2) {
  animation-delay: 0.5s;
}

span:nth-child(3) {
  animation-delay: 1s;
}

span:nth-child(4) {
  animation-delay: 1.5s;
}

span:nth-child(5) {
  animation-delay: 2s;
}

span:nth-child(6) {
  animation-delay: 2.5s;
}

span:nth-child(7) {
  animation-delay: 0.5s;
}

span:nth-child(8) {
  animation-delay: 1s;
}

span:nth-child(9) {
  animation-delay: 1.5s;
}

span:nth-child(10) {
  animation-delay: 2s;
}

span:nth-child(11) {
  animation-delay: 2.5s;
}

span:nth-child(12) {
  animation-delay: 0.5s;
}

span:nth-child(13) {
  animation-delay: 1s;
}


@keyframes colours {
  20% {
    color: #9077f2;
    transform: scale(1.2);
  }
  40% {
    color: #f2f177;
  }
  60% {
    color: #DD0048;
  }

  80% {
    color: #05B8CC;
  }
}
